{% extends "shared/layout.html" %} {% block content %}
<div class="container">
    <div class="row" id="messages"></div>
    <div class="row">
        <div class="col col-xs-12">
            <form>
                <input type="text" id="message" />
                <button class="btn btn-danger" id="send">Send</button>
            </form>
            
        </div>
    </div>
</div>

<script id="bot-message-tmpl" type="x-tmpl-mustache">
    <div class='col col-xs-6 bot chat-message'>
        <span>{M message M}</span>
        </br>
        <button class="btn btn-danger btn-sm pull-right score" data-input-text="{M inputText M}" data-message="{M message M}" data-score="-1" data-intents="{M intents M}" data-entities="{M entities M}">
            <i class="glyphicon glyphicon-thumbs-down"></i>
        </button>
        <button class="btn btn-success btn-sm pull-right score" data-input-text="{M inputText M}" data-message="{M message M}" data-score="1" data-intents="{M intents M}" data-entities="{M entities M}">
            <i class="glyphicon glyphicon-thumbs-up"></i>
        </button>
    </div>
</script>

<script id="my-message-tmpl" type="x-tmpl-mustache">
    <div class='col col-xs-offset-6 col-xs-6 me  chat-message'>
        <span>{M message M}</span>
        {M#intents M}
        </br>
        {M/intents M}
        {M#intents M}
        <small class='intent'>#{M intent M}: {M confidence M}</small>
        {M/intents M}
        {M#entities M}
        {M/entities M}
        {M#entities M}
        <small class='entity'>@{M entity M}: {M value M}</small>
        {M/entities M}
    </div>
</script>

<script>

    function sendMessage(message, successCallback, errorCallback) {
        var postData = {
            id: 1,
            message: message
        };
        $.ajax({
            url: "/api/message",
            method: "POST",
            type: "json",
            data: JSON.stringify(postData),
            dataType: "json"
        })
            .done(function (response) {
                addMyMessage(response, postData.message);
                addBotMessage(response.text, postData.message, response.intents, response.entities);
                if (successCallback)
                    successCallback();
            })
            .fail(function (err) {
                alert(err)
                if (errorCallback)
                    errorCallback();
            })
    }

    function addMyMessage(data, inputText) {
        var template = $('#my-message-tmpl').html();
        Mustache.parse(template);
        var rendered = Mustache.render(template, { message: inputText, intents: data.intents, entities: data.entities });
        $("div#messages").append(rendered);
    }

    function addBotMessage(message, inputText, intents, entities) {
        var template = $('#bot-message-tmpl').html();
        Mustache.parse(template);

        var rendered = Mustache.render(template, {
            message: message,
            inputText: inputText,
            intents: JSON.stringify(intents),
            entities: JSON.stringify(entities)
        });
        $("div#messages").append(rendered);
    }

    function scoreMessage(inputText, message, intents, entities, score, successCallback, errorCallback) {
        var postData = {
            message: message,
            inputText: inputText,
            intents: intents,
            entities: entities,
            score: score
        };
        $.ajax({
            url: "/api/score",
            method: "POST",
            type: "json",
            data: JSON.stringify(postData),
        })
            .done(function (response) {
                successCallback();
            })
            .fail(function (err) {
                alert(err);
                errorCallback();
            })
    }

 
    $(document).ready(function () {
        $("form").on("submit", function () {
            var message = $("#message").val();
            if (message) {
                $("#message").prop("disabled", true);
                sendMessage(message, function () {
                    $("#message").prop("disabled", false);
                    $("#message").val("");
                }, function () {
                    $("#message").prop("disabled", false);
                })
            }
            return false;
        });

        $(".container").on("click", ".score", function () {
            var parentContainer = $(this).parent(".chat-message");
            var inputText = $(this).data("input-text");
            var message = $(this).data("message");
            var intents = $(this).data("intents");
            var entities = $(this).data("entities");
            var score = $(this).data("score");

            parentContainer.find(".score").prop("disabled", true);

            scoreMessage(inputText, message, intents, entities, score, function () {
                parentContainer.find(".score").remove();
            }, function () {
                parentContainer.find(".score").prop("disabled", false);
            });
        })

    });
</script>

{% endblock %}